@{
    ViewBag.Title = "Sobre..";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Objetivo do site é a confecção simples de um CRUD trabalhando com C#, HTML, Bootstrap, jQuery e utilizando a técnica de Code First</p>
