@{
    ViewBag.Title = "Contatos..";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Asfalto A, Nº 999<br />
    Bairro Comuna, UU 99999-9999<br />
 </address>

<address>
    <strong>Email:</strong>   <a href="mailto:beerstore@example.com">BeerStore@example.com</a><br />
    <strong>Telefone:</strong> <a href="tel:99999999999">+55 (99) 9 9999-9999</a>
</address>