@{
    ViewBag.Title = "Home Page";
}


<style>
    .box {
        height: auto;
        Max-width: 100%;
        border: 1px solid;
        justify-content: center;
        align-content: center;
    }  
</style>


<div>
    <br/>
</div>


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="jumbotron col-md-4">
        <img src="../img/beerstoreinicial.jpg" class="box" alt="logo BeerStore">
    </div>
    <div class="col-md-4">
    </div>
</div>


